<!DOCTYPE html>
<html lang="en">

<head>
	<title>My Personal Site</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{% static 'personal/img/favicon.ico' %}" />
	
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <h3>Can you spell it?</h3>
				  <h3>D. J. A. N. G. O.</h3>
				  </center>
			  </div>
			  <div class="col-sm-2">
				  <br>
				  <center>
					<img src="{% static 'personal/img/profile.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face">
				  </center>
			  </div>
		</div><hr>

		<div class="row">
		  <div class="col-sm-12"><br><br>
			<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
			  <ul class="nav nav-tabs flex-column">
				<li class="nav-item">
				  <a class="nav-link" href='/'>Home</a></li>
				<li class="nav-item">
				  <a class="nav-link" href='/blog/'>Blog</a></li>
				<li class="nav-item">
				  <a class="nav-link" href='/contact/'>Contact</a></li>
			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		</div>
		<div class="row">
		  <div class="col-sm-12">
		  
			<div class='container-fluid'><br><br>
				{% block content %}
				{% endblock %}	
			</div>
		  </div>
		</div> 
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="contact/" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>	
	
</body>

</html>