{% extends "personal/header.html" %}

{% block content %}
	{% for post in object_list %}
		<h5>{{post.date|date:"Y-m-d"}}
			<a href="/blog/{{post.id}}">{{post.title}}
			</a>
		</h5>
	{% endfor %}
{% endblock%}