{% extends "personal/header.html" %}

{% block content %}
	<h3>{{post.title}}</h3>
	<h6>on {{post.date}}</h6>
	{{post.body|safe|linebreaks}} <!-- SAFE to use html in the body of the post!!! -->	
{% endblock%}